/* ############ Light mode palettes ################ */

$primary-palette: (
  100: #7dec5b,
  500: #3db910,
  700: #0b8900,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: white,
    700: white
  )
);

$accent-palette: (
  100: #ffeea5,
  500: #cdd575,
  700: #9ca447,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: rgb(0 0 0 / 87%),
    700: rgb(0 0 0 / 87%)
  )
);

/* ############ Dark mode palettes ################ */

$dark-primary-palette: (
  100: #3db910,
  500: #7dec5b,
  700: #0b8900,
  contrast: (
    100: white,
    500: rgb(255 255 255 / 87%),
    700: rgb(255 255 255 / 87%)
  )
);

$dark-accent-palette: (
  100: #ffeea5,
  500: #cdd575,
  700: #9ca447,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: rgb(0 0 0 / 87%),
    700: rgb(0 0 0 / 87%)
  )
);
